---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR|Ubuntu+Mono);


h1 {
  font-size: 1.674em;
}

h2 {
  font-size: 1.38em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.05em;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Noto Sans KR';
}

html {
  font-size: 12px;
  
  @include breakpoint($medium) {
    font-size: 14px;
  }

  @include breakpoint($large) {
    font-size: 16px;
  }

  @include breakpoint($x-large) {
    font-size: 18px;
  }
}

.highlight {
  font-family: 'Ubuntu Mono';
  font-size: 14px;
}

.language-plaintext {	
  font-family: 'Ubuntu Mono';
  font-size: 16px;
  background: #E6E6E6;
} 

.page__date {
  font-size: .75em;
}

.page__meta {
  margin-bottom: 0;
}
